[buildout]
extensions=buildout.minitagificator
versions = versions
parts = part
hooks-directory = ${buildout:directory}/hooks
develop-eggs-directory=../../eggs/develop-eggs
eggs-directory=../../eggs/cache
[versions]
[part]
recipe = minitage.recipe.cmmi
#url = http://${mirrors:gentoo}/distfiles/xmlrpc-c-1.28.03.tar.gz
url = http://${mirrors:gentoo}/distfiles/xmlrpc-c-1.32.05.tar.gz
md5sum=511ef28e42e44e5571573b8a35e71674

gmake=True
patch-options=-Np1
#make-options=DESTDIR=${buildout:directory}/parts/part
# missing shlib name target
#darwin-patches=${buildout:directory}/darwin.patch
[mirrors]
gentoo=gentoo.tiscali.nl


